name: Build Zipapp (Windows)

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    permissions:
        packages: write
        contents: write
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Create runtime virtual environment
        run: |
          python -m venv venv

      - name: Install runtime dependencies into venv
        shell: pwsh
        run: |
          venv\Scripts\python -m pip install --upgrade pip
          venv\Scripts\python -m pip install -r requirements.txt

      - name: Install zipapps (host Python)
        run: |
          python -m pip install --upgrade pip zipapps


      - name: Build zipapp
        shell: pwsh
        run: python -m zipapps -c -a main.py,locales,helpers,downloaders -o app.pyz -d -m main:main -p venv/Scripts/python

      - name: Generate run.bat
        shell: pwsh
        run: |
          "@echo off`napp.pyz" | Out-File -Encoding ASCII run.bat

      - name: Assemble distribution
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path dist -Force
          Copy-Item app.pyz dist\
          Copy-Item run.bat dist\

          cmd /c "robocopy venv dist\venv /E /XD __pycache__ .pytest_cache & exit /b 0"

      - name: Zip distribution
        shell: pwsh
        run: Compress-Archive -Path dist\* -DestinationPath ChartDownloader.zip

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ChartDownloader ${{ github.ref_name }}
          body: "Release ${{ github.ref_name }}"
          files: ./ChartDownloader.zip
          draft: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}