name: Build Zipapp (Windows)

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    permissions:
      packages: write
      contents: write
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup host Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Download Python embeddable
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri https://www.python.org/ftp/python/3.12.10/python-3.12.10-embed-amd64.zip -OutFile python-embed.zip
          Expand-Archive python-embed.zip python-embed

      - name: Install dependencies into zip
        shell: pwsh
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt --target site-packages

      - name: Clean __pycache__ from site-packages
        shell: pwsh
        run: |
          Get-ChildItem -Path site-packages -Recurse -Directory -Force |
            Where-Object { $_.Name -eq '__pycache__' } |
            Remove-Item -Recurse -Force

      - name: Install zipapps (host Python)
        run: |
          python -m pip install --upgrade pip zipapps

      - name: Build zipapp
        shell: pwsh
        run: python -m zipapps -c -a main.py,locales,helpers,downloaders,site-packages -o app.pyz -d -m main:main

      - name: Generate run.bat
        shell: pwsh
        run: |
          "@echo off`npython-embed\python.exe app.pyz" | Out-File -Encoding ASCII run.bat

      - name: Create release zip
        shell: pwsh
        run: |
          Compress-Archive `
            -Path python-embed,app.pyz,run.bat `
            -DestinationPath ChartDownloader.zip

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ChartDownloader ${{ github.ref_name }}
          body: "Release ${{ github.ref_name }}"
          files: ./ChartDownloader.zip
          draft: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}